.container {
    -fx-background-color: #121212;
}

.button, .dialog .button, .languageSelect {
    -fx-border-radius: 0.5em;
    -fx-background-radius: 0.5em;
    -fx-cursor: "hand";
}

.defaultButton, .dialog .button {
    -fx-background-color: #dd9181;
    -fx-text-fill: black;
}

.text, .dialog .label {
    -fx-text-fill: white;
}

.text-primary {
    -fx-font-family: "Franklin Gothic Medium";
}

.colorButton {
    -fx-border-color: white;
    -fx-border-width: 2px;
}

.indicator {
    -fx-font-family: "Open Sans Semibold";
    -fx-background-color: black;
    -fx-background-radius: 50%;
    -fx-border-color: white;
    -fx-border-radius: 50%;
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-text-fill: white;
    -fx-font-size: 10px;
}

.dialog {
    -fx-border-radius: 0.5em;
    -fx-background-radius: 0.6em;
    -fx-background-color: #121212;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-padding: 5px;
}